@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes drawSvg {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }

  12% {
    opacity: 1;
    fill: none;
    stroke-dashoffset: 1800;
  }

  50% {
    fill: rgba($color-primary, 0);
  }

  100% {
    opacity: 1;
    fill: rgba($color-primary, 1);
    stroke-dashoffset: 0;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeScale {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}