*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-black;

  -webkit-animation: fadeInOpacity 1.5s ease-in-out;
  -moz-animation: fadeInOpacity 1.5s ease-in-out;
  -o-animation: fadeInOpacity 1.5s ease-in-out;
  animation: fadeInOpacity 1.5s ease-in-out;
}
