.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.9),
      rgba($color-primary-dark, 0.9)
    ),
    url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__logo-box {
    @include absCenter;

    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }

  &__logo {
    &:hover {
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    height: 11rem;
  }
}
