.header {
  height: 100vh;

  &__logo-box {
    @include absCenter;
    z-index: 999;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }

  &__logo {
    height: 16rem;
    &:hover {
      animation-name: pulse;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }
  }
}
